@charset "UTF-8";
.header {
  margin: 0 auto;
  width: 1280px;
}

.header > ul {
  width: 1280px;
  height: 42px;
  margin: 0 auto;
  line-height: 40px;
  text-align: right;
  margin-bottom: 5px;
  position: relative;
}

.header > ul > .logof > a {
  display: none;
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-left: 10px;
}

.header > ul > .logof > a > img {
  width: 100%;
  height: 100%;
}

.header > ul > li {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  vertical-align: middle;
}

.header > ul > li > a {
  text-decoration: none;
  color: #000;
}

.header > ul > li > .search {
  width: 250px;
  height: 26px;
  border: none !important;
  border-bottom: 1px solid #ababab !important;
  position: relative;
}

.header > ul > li > .search > i {
  cursor: pointer;
  background: url(../img/spirit.png) no-repeat -111px -2px;
  width: 15px;
  height: 15px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 3px;
  margin-top: 5px;
}

.header > ul > li > .search > input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: inherit;
  outline: none;
  position: absolute;
  display: block;
  border-style: none;
  background-color: transparent;
  text-indent: 6px;
  float: left;
}

.header > ul > li > .search-bottom {
  width: 250px;
  height: 217px;
  position: absolute;
  left: 1024px;
  top: 34.0469px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
  z-index: 9999;
  display: none;
}

.header > ul > li > .search-bottom > .search-bottom1 {
  zoom: 1;
  display: table;
  width: 100%;
  border-spacing: 0;
  padding-top: 9px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.header > ul > li > .search-bottom > .search-bottom1 > .search-bottom-title {
  color: #1b1b1b;
  line-height: 18px;
  text-align: left;
  font-weight: bolder;
}

.header > ul > li > .search-bottom > .search-bottom1 > ul {
  width: 230px;
}

.header > ul > li > .search-bottom > .search-bottom1 > ul > li {
  border: 1px solid #ababab;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 24px;
  padding: 0 10px;
  float: left;
  cursor: pointer;
}

.header > ul > li > .search-bottom > .search-bottom1 > ul > li > a {
  color: black;
}

.header > ul > li > .search-bottom > .search-bottom1 > ul > li > a:hover {
  color: #378694;
}

.header > ul > li > .search-bottom > .search-bottom1 > ul > li:hover {
  border-color: #378694;
}

.header > ul > .dotted {
  width: 2px !important;
  height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0;
  background: url(../img/spirit.png) no-repeat 0 0;
}

.header > ul > li > a > i {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.header > ul > li > a > span {
  vertical-align: middle;
}

.header > ul > li:nth-child(6) > a > i {
  background: url(../img/spirit.png) no-repeat -131px -2px;
}

.header > ul > li:nth-child(8) > a > i {
  background: url(../img/spirit.png) no-repeat -7px -2px;
}

.header > ul > li:nth-child(10) > a > i {
  background: url(../img/spirit.png) no-repeat -45px -2px;
}

.header > ul > li:nth-child(10) > a > i:nth-child(1) {
  background: url(../img/spirit.png) no-repeat -29px -2px;
}

.header > ul > li:nth-child(12) > a > i {
  background: url(../img/spirit.png) no-repeat -65px -2px;
}

.header > ul > li:nth-child(14) > a > i {
  background: url(../img/spirit.png) no-repeat -87px -2px;
}

.header > ul > .share-all > i {
  background: url(../img/spirit1.png) no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.header > ul > .share-all {
  position: relative;
  display: inline-block;
}

.header > ul > .share-all:hover .share-overly {
  opacity: 1;
  visibility: visible;
}

.header > ul > li > .share-overly {
  display: block;
  transition: all .3s;
  opacity: 0;
  z-index: 999;
  width: 325px;
  height: 235px;
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  top: 36px;
  left: 18px;
  border: 1px solid #e6e6e6;
  color: #000;
  font-size: 12px;
}

.header > ul > li > .share-overly > span {
  text-align: center;
  margin-top: 10px;
  display: inherit;
  height: 40px;
}

.header > ul > li > .share-overly > .share-overly-left {
  padding-left: 15px;
  margin-top: 15px;
  width: 50%;
  text-align: center;
  float: left;
}

.header > ul > li > .share-overly > .share-overly-left > img {
  width: 100px;
  height: 100px;
  background-size: 100%;
  vertical-align: baseline !important;
  border: none;
}

.header > ul > li > .share-overly > .share-overly-left > span {
  display: block;
  line-height: 30px;
}

.header > ul > li > .share-overly > .share-overly-right {
  padding-left: 15px;
  margin-top: 15px;
  width: 50%;
  text-align: center;
  float: left;
}

.header > ul > li > .share-overly > .share-overly-right > img {
  width: 100px;
  height: 100px;
  background-size: 100%;
  vertical-align: baseline !important;
  border: none;
}

.header > ul > li > .share-overly > .share-overly-right > span {
  display: block;
  line-height: 30px;
}

/* 内容的头部 */
header {
  width: 1280px;
  height: 51px;
  margin-bottom: 52px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  margin: 0 auto;
}

header > .left-nav {
  width: 823px;
  height: 51px;
  box-sizing: border-box;
  float: left;
}

header > .left-nav > li {
  height: 100%;
  float: left;
  text-align: center;
  line-height: 51px;
  font-weight: bold;
  font-size: 14px;
}

header > .left-nav > li > span {
  border-right: 1px #000 dotted;
  padding-left: 8px;
  padding-right: 8px;
  color: #000;
}

header > .left-nav > li {
  text-decoration: none;
  cursor: pointer;
}

header > .left-nav > li > span:hover {
  color: red;
}

header > .left-nav > li:nth-last-child(1) > span:nth-last-child(1) {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
}

header > .left-nav > li:nth-child(1) {
  width: 50px;
}

header > .left-nav > li:nth-child(2) {
  width: 116px;
}

header > .left-nav > li:nth-child(3) {
  width: 97px;
}

header > .left-nav > li:nth-child(4) {
  width: 96px;
}

header > .left-nav > li:nth-child(5) {
  width: 140px;
}

header > .left-nav > li:nth-child(5) > span {
  border: none;
}

header > #women {
  position: absolute;
  top: 70px;
  width: 1280px;
  height: 570px;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #fff;
  z-index: 2000;
  display: none;
}

header > #women > dl {
  float: left;
  height: 100%;
  width: 25%;
}

header > #women > dl > .nav-list-part {
  height: 33%;
  padding: 5px 0 10px;
}

header > #women > dl > .nav-list-part > dt {
  width: 280px;
  padding: 5px 0;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

header > #women > dl > .nav-list-part > dd {
  margin: 12px 0 0 0;
  font-size: 12px;
  cursor: pointer;
  border-right: 1px dashed #ccc;
  width: 49%;
  display: inline-block;
  line-height: 1;
}

header > #women > dl > .nav-list-part > dd > a {
  color: #6b6b6b;
  position: relative;
  letter-spacing: 1px;
}

.nav-list-part > .ddhot > a:after {
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: -5px;
  right: -25px;
  background: url(https://www.uniqlo.cn/public/bin/images/header/hot_flg.png) no-repeat;
  background-size: 21px 16px;
}

.nav-list-part > .ddnew > a:after {
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: -5px;
  right: -25px;
  background: url(https://www.uniqlo.cn/public/bin/images/header/new_flg.png) no-repeat;
  background-size: 21px 16px;
}

.nav-list-part > dd > a:hover {
  text-decoration: underline;
}

header > #women > dl > .nav-list-part > dd:nth-of-type(2n) {
  padding-left: 5px;
  border: none;
}

header > #women > dl:nth-child(5) {
  border-left: 1px solid #ccc;
}

#women > dl:nth-child(5) > .up-part {
  height: 40%;
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}

#women > dl:nth-child(5) > .bottom-part {
  height: 60%;
  width: 100%;
  display: inline-block;
}

#women > dl:nth-child(5) > .up-part > ul {
  width: 100%;
  display: inline-block;
  padding: 0 35px;
  font-size: 13px;
  margin-bottom: 10px;
}

#women > dl:nth-child(5) > .up-part > ul > li {
  width: 100%;
  text-align: left;
  line-height: 1.8;
  cursor: pointer;
}

#women > dl:nth-child(5) > .up-part > ul > li > a {
  display: inline-block;
  position: relative;
  color: #000;
}

#women > dl:nth-child(5) > .up-part > ul > li > a.new:after {
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 0;
  right: -25px;
  background: url(https://www.uniqlo.cn/public/bin/images/header/new_flg.png) no-repeat;
  background-size: 21px 16px;
}

#women > dl:nth-child(5) > .up-part > ul > li > a.hot:after {
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 0;
  right: -25px;
  background: url(https://www.uniqlo.cn/public/bin/images/header/hot_flg.png) no-repeat;
  background-size: 21px 16px;
}

#women > dl:nth-child(5) > .up-part > ul > li:hover a {
  text-decoration: underline;
  color: #6b6b6b;
}

#women > dl:nth-child(5) > .bottom-part > .part-title {
  width: 100%;
  display: inline-block;
  padding: 0 35px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#women > dl:nth-child(5) > .bottom-part > ul {
  width: 100%;
  display: inline-block;
  padding: 0 35px;
  font-size: 13px;
}

#women > dl:nth-child(5) > .bottom-part > ul > li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

#women > dl:nth-child(5) > .bottom-part > ul > li > a {
  display: inline-block;
  color: #6b6b6b;
  text-decoration: none;
}

#women > dl:nth-child(5) > .bottom-part > ul > li > a:hover p {
  text-decoration: underline;
}

#women > dl:nth-child(5) > .bottom-part > ul > li > a > img {
  vertical-align: top;
}

#women > dl:nth-child(5) > .bottom-part > ul > li > a > p {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  color: #6b6b6b;
  font-size: 12px;
  letter-spacing: 0;
}

#women > dl:nth-child(5) > .bottom-part > .title-bottom {
  padding: 0 35px;
}

#women > dl:nth-child(5) > .bottom-part > .title-bottom > p {
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
}

#women > dl:nth-child(5) > .bottom-part > .title-bottom > p > a {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

#women > dl:nth-child(5) > .bottom-part > .title-bottom > p > a:hover {
  color: red;
}

header > #women > .sanjiao1 {
  left: 100px;
  display: block;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: -1;
  transform: rotate(45deg);
}

header > #women > .sanjiao2 {
  left: 200px;
  display: none;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: -1;
  transform: rotate(45deg);
}

header > #women > .sanjiao3 {
  left: 300px;
  display: none;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: -1;
  transform: rotate(45deg);
}

header > #women > .sanjiao4 {
  left: 400px;
  display: none;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: -1;
  transform: rotate(45deg);
}

header > #women > .close-btn {
  font-size: 26px;
  color: #fe0000;
  text-decoration: none;
  position: absolute;
  top: -28px;
  right: 0;
  cursor: pointer;
}

header > .right-nav {
  width: 457px;
  height: 51px;
  float: right;
  background: #a1a1a1;
}

header > .right-nav > li {
  position: relative;
  float: left;
  height: 51px;
  text-align: center;
}

header > .right-nav > li > a {
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

header > .right-nav > .aboutus {
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}

header > .right-nav > li:hover {
  color: red;
}

header > .left-nav > li > .womena:hover {
  color: red !important;
}

.right-nav > .aboutus:hover {
  color: red !important;
}

header > .right-nav > li > a:hover {
  color: red;
}

header > .right-nav > li:nth-child(1) {
  width: 129px;
}

header > .right-nav > li:nth-child(1) > a:nth-child(1) {
  padding: 0 20px;
  border-right: 1px #fff dotted;
}

header > .right-nav > li:nth-child(2) {
  width: 99px;
  background: url(../img/new.png) no-repeat 73px 8px;
}

header > .right-nav > li:nth-child(3) {
  width: 130px;
  background: url(../img/new.png) no-repeat 83px 8px;
}

header > .right-nav > li:nth-child(3) > a:nth-child(1) {
  padding: 0 30px;
  border-left: 1px #fff dotted;
}

header > .right-nav > li:nth-child(4) {
  width: 99px;
  background: #666666;
}

header > .header-detail {
  display: block;
}

header > #guanzhu {
  position: absolute;
  top: 70px;
  width: 1280px;
  height: 268px;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #fff;
  z-index: 2000;
  display: none;
}

header > #guanzhu > .sanjiao {
  display: block;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: -1;
  transform: rotate(45deg);
  right: 266px;
}

header > #guanzhu > .close-btn {
  font-size: 26px;
  color: #fe0000;
  text-decoration: none;
  position: absolute;
  top: -28px;
  right: 0;
  cursor: pointer;
}

header > #guanzhu > ul > .header-detail-list {
  float: left;
  width: 25%;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-title {
  height: 38px;
  line-height: 18px;
  width: 315px;
  text-align: center;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-title:hover {
  background-color: #f00;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-title:hover a {
  color: white;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-title > a {
  text-decoration: none;
  color: #f00;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-img1 {
  width: 315px;
  height: 190px;
  background: url(https://www.uniqlo.cn/public/image/L1/2018/10.11/APP.jpg) no-repeat center center;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-img2 {
  width: 315px;
  height: 190px;
  background: url(https://www.uniqlo.cn/public/image/L1/2018/10.11/wecat.jpg) no-repeat center center;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-img3 {
  width: 315px;
  height: 190px;
  background: url(https://www.uniqlo.cn/public/Image/L1/nav/nav-Qcode/2017/06/16/QR_CHINA.jpg) no-repeat center center;
}

header > #guanzhu > ul > .header-detail-list > ul > .header-detail-img4 {
  width: 315px;
  height: 190px;
  background: url(https://www.uniqlo.cn/public/Image/L1/nav/nav-Qcode/2017/06/16/QR_service.jpg) no-repeat center center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none !important;
}

body {
  font-size: 12px;
}

footer {
  width: 1280px;
  height: 173px;
  margin: 0 auto;
  margin-top: 20px;
}

footer > .footer-nav {
  height: 50px;
}

footer > .footer-nav > .footer-logo {
  height: 50px;
  float: left;
}

footer > .footer-nav > ul {
  float: right;
  width: 1230px;
  background: #000;
  padding: 15.2px 0;
}

footer > .footer-nav > ul > li {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 25%;
  line-height: 20px;
  height: 20px;
  text-align: center;
  border-right: 1px dotted #fff;
}

footer > .footer-nav > ul > li > a {
  display: block;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

footer > .footer-nav > ul > li > a:hover {
  color: red;
}

footer > .footer-content {
  width: 100%;
  height: 103px;
  margin-top: 20px;
  position: relative;
  background: white;
}

footer > .footer-content > .anti-fake {
  position: absolute;
  float: left;
  bottom: 2px;
  left: 4px;
}

footer > .footer-content > .anti-fake > a {
  color: #989A98;
  letter-spacing: .75px;
  text-decoration: none;
}

footer > .footer-content > .anti-fake > a > img {
  padding: 0 5px;
}

footer > .footer-content > .anti-fake2 {
  float: right;
}

footer > .footer-content > .anti-fake2 > a {
  text-decoration: none;
}

footer > .footer-content > .anti-fake2 > a > img {
  vertical-align: baseline;
}

footer > .footer-content > .anti-fake2 > img {
  vertical-align: baseline;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none;
}

body {
  font-size: 12px;
  width: 100%;
  height: 100%;
}

body > .zhezhao {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

input {
  border: 0;
}

.wrap {
  float: left;
  position: relative;
}

#spic {
  width: 500px;
  height: 560px;
  float: left;
  position: relative;
}

#spic img {
  width: 500px;
  height: 560px;
}

#sf {
  width: 250px;
  height: 280px;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#bf {
  width: 500px;
  height: 560px;
  overflow: hidden;
  position: absolute;
  left: 800px;
  visibility: hidden;
  z-index: 100;
}

#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1120px;
}

.smallpic > #ulist {
  width: 92px;
  height: 560px;
  overflow: hidden;
  position: relative;
}

.smallpic > #ulist > a:nth-child(1) {
  float: left;
  width: 88px;
  height: 26px;
  text-decoration: none;
  text-align: center;
  background: url(../img/all-arrow.png) no-repeat center 0;
}

.smallpic > #ulist > a:nth-child(3) {
  float: left;
  width: 88px;
  height: 26px;
  text-decoration: none;
  text-align: center;
  background: url(../img/all-arrow.png) no-repeat center -30px;
  z-index: 999;
}

.smallpic > #ulist > #list {
  width: 94px;
  position: relative;
  height: 500px;
  padding: 4px;
  margin-left: -1px;
  overflow: hidden;
  margin-top: 33px;
  margin-bottom: 33px;
}

.smallpic > #ulist > #list > ul {
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}

.smallpic > #ulist > #list > ul > li {
  float: left;
  padding: 2px 2px 2px 2px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 88px;
  height: 88px;
  border: 2px solid white;
}

.smallpic > #ulist > #list > ul > li:hover {
  border: 2px solid #1b1b1b;
}

.smallpic > #ulist > #list > ul > li > img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

#right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff;
}

#left {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  color: #fff;
}

.goodsinfo {
  width: 1280px;
  height: 600px;
  margin: 0 auto;
  margin-top: 58px;
  position: relative;
}

.main-list-title {
  width: 1280px;
  height: 18px;
  position: relative;
  line-height: 18px;
  margin-bottom: 10px;
}

.smallpic {
  width: 94px;
  height: 560px;
  float: left;
}

.bigpic {
  width: 500px;
  height: 560px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}

.detail-shop {
  margin-left: 690px;
  width: 540px;
  height: 560px;
}

.title-title {
  float: left;
  margin-left: 5px;
  text-decoration: underline;
  font-weight: 900;
  font-size: 12px;
}

.title-title > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-size: 12px;
}

.title-title > a > img {
  width: 12px;
  vertical-align: middle;
  margin-left: 5px;
}

.goodsinfo-img {
  width: 200px;
  height: 200px;
  float: left;
}

.goodsinfo-img img {
  width: 200px;
  height: 200px;
}

.detail-shop-title {
  width: 540px;
  height: 19px;
  font-size: 16px;
  font-weight: bolder;
}

.detail-shop-price {
  width: 540px;
  height: 32px;
  margin-top: 20px;
  font-size: 23px;
  font-weight: bolder;
}

.detail-shop-pro {
  height: 17px;
  margin-top: 20px;
  width: 540px;
}

.detail-shop-color {
  width: 540px;
  height: 77px;
  margin-top: 15px;
}

.detail-shop-color-title {
  margin-bottom: 10px;
  font: size 12px;
}

.detail-shop-color-content {
  height: 50px;
}

.detail-shop-color-content > ul {
  height: 50px;
}

.detail-shop-color-content > ul > li {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 46px;
  height: 46px;
  float: left;
  padding: 2px 2px 2px 2px;
  border: 2px white solid;
  box-sizing: border-box;
  cursor: pointer;
}

.detail-shop-color-content > ul > li > img {
  width: 38px;
  height: 38px;
  float: left;
}

.detail-shop-size {
  width: 540px;
  height: 77px;
  margin-top: 15px;
}

.detail-shop-size-title {
  width: 540px;
  height: 17px;
  line-height: 17px;
  margin-bottom: 10px;
}

.detail-shop-size-content > ul {
  height: 90px;
}

.detail-shop-size-content > ul > li {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #dadada;
  font-family: LTMedium;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  font-weight: bolder;
}

.detail-shop-counter {
  width: 540px;
  height: 40px;
  line-height: 40px;
  margin-top: 50px;
}

.detail-shop-counter > button > img {
  width: 20px;
  height: 20px;
  background-color: white;
}

.detail-shop-counter > button:nth-child(1) {
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 50px;
  outline: none;
}

.detail-shop-counter > button:nth-child(3) {
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  margin-right: 50px;
}

#count {
  width: 75px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ababab;
  margin: 0 10px;
  vertical-align: middle;
}

.p-btn {
  margin-top: 50px;
  width: 540px;
  height: 52px;
}

.p-btn > button {
  width: 99%;
  height: 100%;
  background-color: red;
  color: white;
  outline: none;
}

/*# sourceMappingURL=detail.css.map */
